# Global
* @Jonnathan23 @anthonymoya246@gmail.com

# Private
/.github/                   @Jonnathan23
/pnpm-lock.yaml             @Jonnathan23
/eslint.config.js           @Jonnathan23
/prettier.config.mjs        @Jonnathan23
/.prettierignore            @Jonnathan23
/.editorconfig              @Jonnathan23
/.gitignore                 @Jonnathan23
/.ls-lint.yml               @Jonnathan23
/.dependency-cruiser.js     @Jonnathan23
/knip.config.ts             @Jonnathan23
/lint-staged.config.js      @Jonnathan23
/tsconfig*.json             @Jonnathan23
/vite.config.ts             @Jonnathan23