# Global
* @Jonnathan23

# Code Owners
/android                 @Jonnathan23 @anthonymoya246@gmail.com @Pacho-Chris 
/public                  @Jonnathan23 @anthonymoya246@gmail.com @Pacho-Chris
/src                     @Jonnathan23 @anthonymoya246@gmail.com @Pacho-Chris
/index.html              @Jonnathan23 @anthonymoya246@gmail.com @Pacho-Chris
/.agents                 @Jonnathan23 @anthonymoya246@gmail.com @Pacho-Chris
/.docs                   @Jonnathan23 @anthonymoya246@gmail.com @Pacho-Chris
/README.md               @Jonnathan23 @anthonymoya246@gmail.com @Pacho-Chris
/README_ES.md            @Jonnathan23 @anthonymoya246@gmail.com @Pacho-Chris


# Private
/.github/                   @Jonnathan23
/pnpm-lock.yaml             @Jonnathan23
/eslint.config.js           @Jonnathan23
/prettier.config.mjs        @Jonnathan23
/.prettierignore            @Jonnathan23
/.editorconfig              @Jonnathan23
/.gitignore                 @Jonnathan23
/.ls-lint.yml               @Jonnathan23
/.dependency-cruiser.js     @Jonnathan23
/knip.config.ts             @Jonnathan23
/lint-staged.config.js      @Jonnathan23
/tsconfig*.json             @Jonnathan23
/vite.config.ts             @Jonnathan23
/commitlint.config.ts       @Jonnathan23
/CONTRIBUTING.md            @Jonnathan23
/Guia-Contribucion-Branches-Commits.md @Jonnathan23
/.husky/                    @Jonnathan23